<div class="w-screen h-screen">
  <div class="flex items-center justify-center text-center mt-20">
    <%= link_to "New IPv4 quiz", new_ipv4_quiz_path, class: "border rounded p-2 bg-white"%>
  </div>
</div>
