<section class="bg-white dark:bg-gray-900 flex border border-blue-500">
  <div class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6">
  <img class="w-full border border-black" src="/assets/home_page_image.jpg" alt="dashboard image">
    <div class="mt-4 md:mt-0">
      <h2 class="mb-4 text-4xl font-extrabold text-gray-900 dark:text-white">Empower Your Learning Journey with Free Tools for Students and Enthusiasts</h2>
      <p class="mb-6 font-light text-gray-500 md:text-lg dark:text-gray-400">Whether you're embarking on your initial career path or transitioning to the dynamic IT industry, the vast landscape of knowledge can be overwhelming for individuals. Exploring learning resources often reveals high costs associated with quality education tools. Here, we present a collection of meticulously crafted free tools developed by our creators and contributors, offering an invaluable resource for everyone seeking to enhance their knowledge and skills. Join us on this educational journey and unlock a world of opportunities.</p>
      <a href="#" class="inline-flex items-center text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:focus:ring-primary-900">
        Get started
        <svg class="ml-2 -mr-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
      </a>
    </div>
  </div>
</section>


<footer class="p-4 py-8 bg-white md:p-8 lg:p-10 dark:bg-gray-800">
  <div class="mx-auto max-w-screen-xl text-center">
      <div class="flex items-center flex-col gap-4 md:gap-0 md:flex-row">
          <span class=" text-xl">
            Subscribe to get notifications about changes and new tools available!
          </span>
          <form action="#" class="flex w-full max-w-sm lg:ml-auto">
              <div class="relative w-full">
                  <label for="email" class="hidden mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Email address</label>
                  <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                      <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                          <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path>
                          <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path>
                      </svg>
                  </div>
                  <input type="email" id="email" class="block p-3 pl-10 w-full text-sm text-gray-900 bg-gray-50 rounded-l-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Your email" required>
              </div>
              <button type="submit" class="py-3 px-5 text-sm text-center text-black rounded-r-lg border cursor-pointer bg-primary-600 border-primary-600 hover:bg-primary-700 focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Subscribe</button>
          </form>
      </div>
  </div>
</footer>
